<article class="single-show">
    <div class="show-info">
        <h2>{{show.bandname}}</h2>
        <ol>
            <li>{{show.genre}}</li>
            <li>{{show.youtube_id}}</li>
            <li>{{show.show_location}}</li>
            <li>{{show.show_time}}</li>
            <li>{{show.show_date}}</li>
            <li>{{show.user_id}}</li>
            <li>{{show.privacy}}</li>
            <li><img src="{{show.img}}" alt="band image" width="250"></li>
            <iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/{{show.youtube_id}}"
  frameborder="0"></iframe>
  
        </ol>
    </div>

</article>

<button type="submit" class="login-join-btn" id="back-to-show-list">Back to Show List</button>

<script src='/js/back-button.js'></script>