<article class="single-show">
    <div class="show-info">
        <h2>{{show.bandname}}</h2>
        <ol>
            <li>{{show.genre}}</li>
            <li>{{show.youtube_id}}</li>
            <li>{{show.show_location}}</li>
            <li>{{show.show_time}}</li>
            <li>{{show.user_id}}</li>
            <li>{{show.privacy}}</li>
            <li>{{show.img}}</li>
        </ol>
    </div>
    
    
</article>
