{{log apiKey }}
{{ log show }}

<article class="single-show">
    <div class="show-info">
        <h1>{{show.bandname}}</h2>
            <div id="page-counter">
                <h2>Page Views: </h2>
                <h2 id="page-count">{{show.view_count}}</h2>
            </div>
            <br></br>
            <ul>
                <li>{{show.genre}} Music</li>
                <li>{{show.show_location}}</li>
                <li>{{show.show_time}}</li>
                <li>{{format_date show.show_date}}</li>
                {{!-- <li>{{show.user_id}}</li>
                <li>{{show.privacy}}</li> --}}
                <img src="{{show.img}}" alt="band image"></img>


                <iframe id="ytplayer" type="text/html" width="640" height="360"
                    src="https://www.youtube.com/embed/{{show.youtube_id}}" frameborder="0"></iframe>

                <iframe id="google" style="border:0" loading="lazy" allowfullscreen
                    src="https://www.google.com/maps/embed/v1/search?q={{show.show_location}}&key=APIKEY"></iframe>
            </ul>
    </div>


    <button type="submit" class="login-join-btn" id="edit-show-btn">Edit this Show</button>

    <button type="submit" class="login-join-btn" id="back-to-show-list">Back to Show List</button>


    {{!-- comments section --}}
    <div=class"parent-comment">
        <div class="comments">
            <h2>Comments </h2><br>
            {{allComments}}
            <ul id="display-allcomments">
            </ul><br>
        </div>
        <div class="comments" id="comment">
            <h2>Leave a Comment </h2><br>
            <textarea rows="5" id="comment_text"></textarea><br>
            <button id="btnComment" class="login-join-btn">Submit Comment</button>
        </div>
    </div>


</article>

<script src='/js/back-button.js'></script>
<script src='/js/edit-button.js'></script>
<script src="../js/postcomment.js"></script>
<script src="/js/view-count.js"></script>