<article class="single-show">
    <div class="show-info">
        <h2>{{show.bandname}}</h2>
        <ol>
            <li>{{show.genre}}</li>
            <li>{{show.youtube_id}}</li>
            <li>{{show.show_location}}</li>
            <li>{{show.show_time}}</li>
            <li>{{show.user_id}}</li>
            <li>{{show.privacy}}</li>
            <li>{{show.img}}</li>
        </ol>
    </div>

</article>

<h3>Leave a Comment </h3>
<div id="comment">
    <textarea rows="5" id="comment_text"></textarea>
    <button id="btnComment">Submit Comment</button>
</div>

<button type="submit" class="login-join-btn" id="back-to-show-list">Back to Show List</button>

<script src='/js/back-button.js'></script>